*{
    box-sizing: border-box;

}
body{
    background-color: lightskyblue;
}

header{
    padding: 10px;
    text-align: center;
}
link{
    display: none;
}
header{
    align-items: center;
}


.accordion-item, .accordion-button{
    border-radius: 30px !important;
}
